<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Infractions</title>
</head>
<body>
  <h1>Infractions</h1>
  <table border="1">
    <tr>
      <th>User ID</th>
      <th>Warnings</th>
      <th>Trust</th>
    </tr>
    <% users.forEach(user => { %>
      <tr>
        <td><%= user.userId %></td>
        <td><%= user.warnings %></td>
        <td><%= user.trust %></td>
      </tr>
    <% }) %>
  </table>
  <a href="/">Back</a>
</body>
</html>
